/*----------------------------------------------------
' Package: Facebook F8
' Version: 1.0
' Date Created: 23-04-2018
' Last Modified: 23-04-2018
' Authors: Rami Zebian <rami.zebian@lelabodigital.com>
----------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f5f8fa;
    color: #252525;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    name letter-spacing: -0.04rem;
    line-height: 26px;
}

img {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.back-to-top {
    bottom: 25px;
    cursor: pointer;
    display: none;
    opacity: 0.7;
    position: fixed;
    right: 35px;
    z-index: 9999;
}

section { padding: 80px 0; }

#section-contact {
    background: transparent url("../images/contact.jpg") no-repeat center center;
    background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
    margin-bottom: 2rem;
    color: #000;
}

    h6.subtitle {
        color: #4267b2;
    }

.text-black { color: #000 !important; }

.text-yellow { color: #fae200; }

.row + .row { margin-top: 1rem; }

div [class^="col-"] { /*border: solid 1px blue;*/ }


a {
    color: #4267b2;
    outline: none !important;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a.nav-link {
    font-size: 0.75rem;
}

.box {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
}

.box-iot {
    background-color: rgba(132,132,132,0.05);
    color: #4267b2;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
    .box-iot:hover {
        background-color: #4267b2;
        color: #fff;
    }

.box-iot.inverted {
    background-color: #4267b2;
    color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1.25rem;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
    .box-iot.inverted:hover {
        background-color: rgba(132,132,132,0.05);
        color: #4267b2;
    }

.box.box-landing {
    min-height: 400px;
    padding: 5rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
}

label.name {
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 600;
}

.profile-summary {
    font-style: italic;
    font-size: 0.6rem;
    line-height: 1rem;
}

.min-vh-100 {
    min-height: 100vh;
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    section { padding: 40px 0; }
}

@media (max-width: 767px) {
    section { padding: 30px 0; }
}

@media (max-width: 575px) {
    section { padding: 25px 0; }
    body { font-size: 14px; }

}