<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LivePath" value="https://localhost:44391" />
    <!--
    NO SSL
    <add key="LivePath" value="http://localhost:52504" /> 
    -->
    <add key="BasePath" value="C:\Users\Admin\Documents\Visual Studio 2017\WebSites\" />
    <add key="FromEmail" value="#" />
    <add key="FromPassword" value="#" />
    <add key="ToEmail" value="#" />
    <add key="SMTP" value="smtp-relay.gmail.com" />
    <add key="Port" value="587" />
    <add key="AdminSupportEmail" value="#" />
    <add key="AdminSupportPassword" value="#" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="server=localhost; uid=sa; pwd=sqlserver; database=testdb; Trusted_Connection=Yes"
         providerName="System.Data.SqlClient" />
    <add name="LiveConnectionString" connectionString="server=127.0.0.1; uid=; pwd=; database=;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <codeSubDirectories>
        <add directoryName="CS" />
        <add directoryName="VB" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="8192" />
    <machineKey decryption="AES" decryptionKey="939B6DD22E0A0DBD5B051DFE8E956BDABF6AD5E4BBF98F082F9DC15DD42FB508"
                validation="HMACSHA256"
                validationKey="DE598EBEC2749615CC294A09C6D247224B707D4E72145FD59CE138781F880DB3C6DAD4E185D0E747A690F1FD57F7FFB177808DD68DA9F7EFACD5ACDFD4E102AF" />
    <!--<customErrors mode="Off" /> -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/bug">
      <error statusCode="404" redirect="~/404" />
    </customErrors>
    <sessionState timeout="30" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
